android-gfortran
ccache       
expat     
gold          
mpfr    
yasm
benchmark                   
clang        
gcc       
isl           
perl
binutils                    
cloog        
llvm          
ppl
build                       
compiler-rt  
gdb       
python
gmp       
mpc           
sed
